@import '~antd/dist/antd.css';
/* @import './homework2/Clicker.module.css'; */
/* @import './homework3/todo.module.css'; */
/* @import './homework4/style.module.css'; */
/* @import './homework6/style.module.css'; */
@import './homework6/style.css';

* {
  margin: 0;
  box-sizing: border-box;
}
/* #root{
  display: flex;
  justify-content: center;
  align-items: center;
} */
